<mat-toolbar class="header-bg">
  <input type="search" matInput placeholder="Search" class="header-search-input">
  <button mat-icon-button aria-label="Search" class="header-mat-icon">
    <mat-icon>search</mat-icon>
  </button>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-icon-button aria-label="Settings" class="header-mat-icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button aria-label="Profiles" class="header-mat-icon">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>
