<div class="login-form-wrapper">
  <span class="login-form-header">Hello there!</span>
  <span class="login-form-header">Welcome Back</span>

  <form class="login-form-element">
    <mat-form-field class="form-input">
      <mat-label>Username</mat-label>
      <mat-icon matPrefix>account_box</mat-icon>
      <span matPrefix>&nbsp;</span>
      <input matInput class="login-mat-input">
    </mat-form-field>

    <mat-form-field class="form-input">
      <mat-icon matPrefix>dialpad</mat-icon>
      <span matPrefix>&nbsp;</span>
      <input matInput placeholder="Password">
    </mat-form-field>

    <button mat-raised-button color="primary" routerLink="/home" routerLinkActive="active" class="signin-button">Sign in</button>
  </form>

  <span class="login-form-no-account-text">
    Don't have an account? <a routerLink="/register" routerLinkActive="active" class="login-form-register-link">Register</a>
  </span>
</div>
